html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;;
  justify-content: space-around;
  background-color:#0599d7;
  width: 100vw;
  position: fixed;
  top: 0;
}

nav a:hover {
  color: #ffc221
}

.image {
  width: 100vw;
}

.gallery {
  padding: 2em;
}

form {
  margin: 1em;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}